APPNAME=sampleprj
VERSION=0.4.2
EXPMOD=cpplib adalib
DOMAIN=fr.example
USELIB=lua-5.3.5 dem-0.1.2d
COMPANY=eduvax
POST_INSTALL_PATCH_FILES+=bin/sampleprj.sh
VABS:=99.99.99
ABS_REPO:=file://$(PRJROOT)/../dist http://www.eduvax.net/dist file:///home/httpd/www/dist
ABSWS:=$(PRJROOT)/absws
# fake download of this workspace's abs to be used for checking with this sampleprj
_FAKE_ABS_DOWNLOAD:=$(shell mkdir -p $(ABSWS); test -d $(ABSWS)/abs-$(VABS) || ln -sf ../../ $(ABSWS)/abs-$(VABS))
